#This Apache config file was created by Duplicator Installer on 2020-05-07 12:34:13.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dwwm_Nabil/EvalCMSCorrection/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dwwm_Nabil/EvalCMSCorrection/index.php [L]
</IfModule>
# END WordPress