body{
    margin:0 2vw;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.cadre{
    padding:2vw;
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}
.colonne{
    display: flex;
    flex-direction: column;
}
button{
    margin:0.3vh 1.5vw;
}
input{
    margin-right: 0.8vw;
}